:root {
  --main-bg-color: #ffffff;
  --font-color: #000000;

  --header-bg-color: rgb(241, 241, 241);
  
  --coins-filter-bg-color: rgb(223, 223, 223);

  --cons-table-bg-color: rgb(241, 241, 241);
}